<div class="col-xs-4">
  {{#bs-form action="submit"}}
    {{#bs-form-group}}
      <label class="control-label">Login ID:</label>
      {{bs-input type="text" value=loginId}}

    {{/bs-form-group}}
    {{bs-button defaultText="Login" type="primary" buttonType="submit"}}
  {{/bs-form}}
</div>
